---
layout: main
---


<div class="content-box clearfix">
  <article class="article-page">
    <div class="page-content">
      <div class="wrap-content">
        <header class="header-page">
          <h1 class="page-title">About Me</h1>
        </header>
      </div> <!-- End Wrap Content -->
    </div> <!-- End Page Content -->
  </article> <!-- End Article Page -->
</div>
  
<div class="dash-seperator"></div>

<!-- <div class="page-footer">
</div> -->

<div class="content-box clearfix">
  <article class="article-page">
    <div class="page-content">
      <div class="wrap-content">
        <header class="header-page">
  {% for post in site.categories["work"] %}
    {% include post_preview.html post=post %}
  {% endfor %}
  </header></div></div></article>
  <!-- {% include pagination.html %} -->
</div>

<div class="dash-seperator"></div>


<div class="content-box clearfix">

  {% for post in site.categories["projects"] %}
    {% include post_preview.html post=post %}
  {% endfor %}
  <!-- {% include pagination.html %} -->
</div>

