---
layout: main
---

<!-- About -->
<div class="content-box clearfix">
  <div class="section-box">
    <header class="header-page">
      <h1 class="page-title">About Me</h1>
    </header>

    <div class="about-content">
      <p>
        Hi! I am a Computer Science Master's student at Cal Poly SLO (aka California
        Polytechnic State University, San Luis Obispo). I specialize in Deep Learning,
        particularly applications in Earth and Atmospheric Sciences. My passions
        for programming, music, and the environment often intertwine in my projects. Click
        below to learn more!
      </p>

      <div class="about-nav">
          <table>
          <tr>
            <td id="ed-button">
              <img src='{{"/assets/img/education.png" | prepend: site.baseurl}}'/>
            </td>
            <td id="work-button">
              <img src='{{"/assets/img/work-exp.png" | prepend: site.baseurl}}'/>
            </td>
            <td id="proj-button">
              <img src='{{"/assets/img/projects.png" | prepend: site.baseurl}}'/>
            </td>
          </tr>
          <tr>
            <td>Education</td>
            <td>Experience</td>
            <td>Projects</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
  
<div class="dash-seperator"></div>

<!-- Education -->
<div id="education" class="content-box clearfix">

  <div class="section-box">
    <header class="header-page">
      <h1 class="page-title">Education</h1>
    </header>

    <div class="educ-content">
      <table>
        <tr>
          <td>Master's, CSC</td>
          <td>California Polytechnic State University, SLO
            <ul class="arrow-bullets">
              <li>GPA: 4.00</li>
            </ul>
            Selected Coursework: 
            <ul class="arrow-bullets">
              <li>CSC 580 &#8211; Artificial Intelligence</li>
              <li>CSC 566 &#8211; Advanced Topics in Data Mining</li>
              <li>CSC 569 &#8211; Distributed Computing</li>
            </ul>
          </td>
          <td>Fall 2021 &#8212; &shy;<wbr> Summer 2022</td>
        </tr>
        <tr>
          <td>B.Sc., CSC</td>
          <td>
            California Polytechnic State University, SLO
            <ul class="arrow-bullets">
              <li>GPA: 3.96</li>
              <li>President's List every year</li>
            </ul>
            Selected Coursework:
            <ul class="arrow-bullets">
              <li>CSC 428 &#8211; Computer Vision</li>
              <li>STAT 334 &#8211; Applied Linear Models</li>
              <li>CSC 482 &#8211; Natural Language Processing</li>
              <li>ISLA 123 &#8211; Science, Technology, & Society</li>
            </ul>
          </td>
          <td>Fall 2018 &#8212; &shy;<wbr> Fall 2021</td>
        </tr>
        <tr>
          <td></td><td></td><td></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="dash-seperator"></div>

<!-- Work -->
<div id="work" class="content-box clearfix">

  <div class="section-box">
    <header class="header-page">
      <h1 class="page-title">Experience</h1>
    </header>
  </div>

  {% for post in site.categories["work"] %}
    {% include post_preview.html post=post %}
  {% endfor %}
  <!-- {% include pagination.html %} -->
</div>

<div class="dash-seperator"></div>

<!-- Projects -->
<div id="projects" class="content-box clearfix">

  <div class="section-box">
    <header class="header-page">
      <h1 class="page-title">Projects</h1>
    </header>
  </div>

  {% for post in site.categories["projects"] %}
    {% include post_preview.html post=post %}
  {% endfor %}
</div>

